{% extends 'base.html' %}
{% block morestyle %}{% endblock %}
{% block tags %}{% endblock %}
{% block titulo_barra %}{% endblock %}
{% block content %}
	<h3>Ejecucion</h3>
		{% block ejecucion %}{% endblock %}

	<h3>Descripcion</h3>
		<p>{% block descripcion %}{% endblock %}</p>
{% endblock %}

